@charset "UTF-8";
.date-pick {
  display: none;
  position: fixed;
  z-index: 999999;
  top: 30px;
  left: 30px;
  width: 310px;
  height: 236px;
  background: #F4F8FA;
  font-size: 14px;
  font-family: helvetica,"微软雅黑";
  color: #222;
  text-align: center;
  box-shadow: 5px 5px 10px #aaa;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  border: 1px solid #e5e5e5\9;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.date-pick ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.date-pick .day-box-title,
.date-pick .week-box-title {
  display: none;
}
.date-pick .date-invalid {
  background: none !important;
  outline: none !important;
  pointer-events: none;
  cursor: default  !important;
}
.date-pick .disabled {
  opacity: 0.5 !important;
  filter: alpha(opacity=50) !important;
  pointer-events: none;
  cursor: default !important;
}

.date-header {
  color: #fff;
  background: #27A9E3;
  line-height: 32px;
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
}
.date-header:after {
  content: '';
  clear: both;
  zoom: 1;
  width: 100%;
  display: block;
}
.date-header .header-box {
  height: 32px;
  padding: 2px;
  width: 149px;
}
.date-header .year-box {
  float: left;
  border-right: 1px solid #62C1ED;
}
.date-header .month-box {
  float: right;
}
.date-header span, .date-header i {
  float: left;
  height: 32px;
  cursor: pointer;
}
.date-header span:active, .date-header i:active {
  background: #37B7F3;
}
.date-header i {
  font-style: normal;
  width: 65px;
  margin: 0 9px;
}
.date-header span {
  width: 32px;
  position: relative;
}
.date-header span em {
  content: '';
  position: absolute;
  width: 12px;
  height: 2px;
  left: 10px;
  top: 15px;
  background: #fefefe;
}
.date-header .odd em.after {
  width: 2px;
  height: 12px;
  left: 15px;
  top: 10px;
}

.date-body {
  width: 100%;
  overflow: hidden;
  height: 168px;
  background: #fafafa;
}
.date-body .date-content {
  display: none;
  height: 168px;
  width: 94%;
  margin: 0 auto;
  padding-top: 12px;
}
.date-body .date-content li {
  float: left;
  width: 32.2%;
  height: 34px;
  line-height: 34px;
  background: #fff;
  margin: 1px;
  cursor: pointer;
}
.date-body .date-content li:hover {
  outline: 1px solid #27A9E3;
}
.date-body .date-content .date-cur {
  background: #B9E3F5 !important;
}
.date-body .year-content {
  position: relative;
  width: 84%;
}
.date-body .year-content span {
  position: absolute;
  width: 18px;
  height: 30px;
  line-height: 30px;
  background: #fefefe;
  top: 50%;
  margin-top: -15px;
  left: -22px;
  cursor: pointer;
}
.date-body .year-content span:active {
  background: #f1f1f1;
}
.date-body .year-content .forward {
  left: auto;
  right: -22px;
}
.date-body .year-content-list:after {
  content: '';
  clear: both;
  zoom: 1;
  width: 100%;
  display: block;
}
.date-body .day-content {
  display: block;
  padding-top: 0;
}
.date-body .day-content li {
  width: 13.5%;
  height: 20px;
  line-height: 20px;
  margin: 1px;
  font-size: 12px;
}
.date-body .date-week {
  height: 20px;
  border-bottom: 1px dashed #ccc;
  padding-top: 2px;
  padding-bottom: 3px;
  margin-bottom: 5px;
}
.date-body .date-week span {
  float: left;
  width: 13.5%;
  height: 18px;
  line-height: 18px;
  font-size: 12px;
  background: none;
  margin: 1px;
}

.date-footer {
  border-top: 1px solid #e5e5e5;
  text-align: right;
  padding: 5px 5px 0 0;
}
.date-footer button {
  appearance: none;
  -webkit-appearance: none;
  background: #28B779;
  color: #fff;
  font-size: 12px;
  text-align: center;
  width: 40px;
  height: 20px;
  line-height: 18px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;
  border: none;
}
.date-footer button:active {
  background: #f1f1f1;
}
