.Wdate{
	height:34px; line-height: 34px; margin-top:-2px;
	padding:0 7px;   border:1px solid #ddd;border-radius:5px; 
	background:url(arrow_down.png) no-repeat 96% center !important;
    background-size:25px 12px;
}

.WdateFmtErr{
	font-weight:bold;
	color:red;
}